.sidebar-container {
  position: fixed;
  background: white;
  width: 270px;
  height: 100%;
  transition: 0.3s ease;
  border: 2px solid #d1d5db;
  z-index: 99999;
}

.closesidebar {
  grid-template-columns: 57px 1fr !important;
}

.btn-show-sidebar {
  z-index: 99999;
  position: fixed;
}
