.sidebar-container {
  position: fixed;
  width: 270px;
  height: 100%;
  transition: 0.3s ease;
  z-index: 99999;
}

.closesidebar {
  grid-template-columns: 57px 1fr !important;
}

.btn-show-sidebar {
  z-index: 99999;
  position: fixed;
}
