<div style="min-height: 100vh; z-index: 2;position: relative;">
    <div class="sidebar-container bg-black">
        <div class="">
            <div class="sidebar">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>

    <div class="position-relative main-content">
        <header class="position-fixed bg-secondary" style="width: 100%;left: 0;z-index: 9999;background: #000;">
            <div>
                <app-header></app-header>
            </div>
        </header>
        <div class="p-4 " style="padding-top: 100px !important;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>