<div
  class="modal modal-lg fade"
  id="exampleModalToggle3"
  aria-hidden="true"
  data-bs-backdrop="false"
  aria-labelledby="exampleModalToggleLabel3"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="exampleModalToggleLabel3">
          Technologies et Performances
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Close"
        >
          <span class="visually-hidden">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="techPerfForm">
          <div class="mb-3">
            <label class="form-label">Technologies utilisées</label>
            <div class="input-group">
              <input type="text" class="form-control" id="TechInput" required />
            </div>
          </div>

          <div class="mb-3">
            <div class="mb-3">
              <label for="responseTime" class="form-label"
                >Temps de réponse</label
              >
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="responseTime"
                  min="0"
                  step="0.1"
                  required
                />
                <span class="input-group-text">ms</span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre total d'utilisateurs</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="userTotal"
                required
              />
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
        >
          Précédent
        </button>
        <button
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle4"
          data-bs-toggle="modal"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</div>
