<li class="nav-item list" [ngClass]="{'active-item': isActive}" routerLinkActive="active-item" #rla="routerLinkActive">
    <div class="icon-list d-flex justify-content-between">
        <div class="d-flex gap-2 align-items-center text-light">
            <svg class="icon-sidebaritem" *ngIf="iconPath" width="25" height="25" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="iconPath" fill="currentColor" fill-rule="evenodd" transform="scale(.024)" />
            </svg>
            <span class="nav-item-text">{{label}}</span>
        </div>
        <div class="icon-right">
            <svg *ngIf="iconRight" width="25" height="25" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="iconRight" fill="currentColor" fill-rule="evenodd" transform="scale(.024)" />
            </svg>
        </div>
    </div>
</li>