.list {
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.list a:hover {
  color: #000000;
}

.list:hover {
  border-left: 4px solid #ff7900;
  background: rgba(255, 121, 0, 0.2);
  border-radius: 4px;
}
.active-item {
  border-left: 4px solid #ff7900;
  background: rgba(255, 121, 0, 0.2);
  padding: 4px;
  border-radius: 4px;
}

.icon-sidebaritem {
  transition: 0.2s ease;
}
