<div class=" " *ngIf="user">
    <div class="">
        <div class="col-md-10">
            <!-- <h1 class="mb-4">Profil Utilisateur</h1> -->

            <div class="d-flex gap-4">
                <!-- Left sidebar with avatar and basic info -->
                <div class="col-md-5">
                    <div class="bg-white p-3 rounded-1 shadow-sm" style="height: 100%;">
                        <div class="card-body text-center">
                            <div class="d-grid gap-2">
                                <div class=" mt-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="lucide lucide-circle-user-icon lucide-circle-user">
                                        <circle cx="12" cy="12" r="10" />
                                        <circle cx="12" cy="10" r="3" />
                                        <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662" />
                                    </svg>
                                </div>
                                <div class="d-grid gap-2">
                                    <h5 class="card-title">{{ user.name }}</h5>
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        <span class="fw-bold">{{ user.trigramme }}</span> •
                                        <span class="badge rounded-pill"
                                            [ngClass]="user.role == 'admin' ? 'text-bg-secondary' : (user.role == 'editor' ? 'text-bg-info' : 'text-bg-warning')">{{user.role}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Main profile content -->
                <div class="col-md-9">
                    <div class="bg-white p-3 rounded-1 shadow-sm">
                        <div class="card-body">
                            <div class="d-grid mt-1 gap-2">
                                <h5 class="card-title">Informations du profil</h5>
                                <p class="card-text text-muted">Gérez vos informations personnelles et vos paramètres de
                                    compte</p>
                            </div>

                            <form class="mt-4">
                                <div class="mb-3">
                                    <label class="form-label">Nom</label>
                                    <div class="p-2 fw-bold rounded-1 light d-flex align-items-end gap-2">
                                        <app-icon-user />
                                        <span>{{ user.name }}</span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Trigramme</label>
                                    <div class="p-2 fw-bold rounded-1 light ">
                                        <span>{{ user.trigramme }}</span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Département</label>
                                    <div class="p-2 fw-bold rounded-1 light d-flex align-items-end gap-2">
                                        <app-icon-departement />
                                        <span>{{ user.departement }}</span>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Rôle</label>
                                    <div class="p-2 fw-bold rounded-1 light d-flex align-items-end gap-2">
                                        <app-icon-role />
                                        <span>{{getRoleLabel(user.role)}}</span>
                                    </div>
                                </div>

                                <label for="password" class="form-label">Mot de passe</label>
                                <div class="d-flex gap-3 align-items-center">
                                    <input type="text" class="form-control" placeholder="Ancien mot de passe..."
                                        [type]="isEditing ? 'text' : 'password'" [class.light]="!isEditing"
                                        [readonly]="!isEditing" name="oldPassword" [(ngModel)]="oldPassword">
                                    <button class="btn btn-primary" (click)="toggleEdit()">
                                        {{ isEditing ? 'Enregistrer' : 'Modifier' }}
                                    </button>
                                </div> <br><br>
                                <div class="d-flex gap-3 align-items-center" *ngIf="isEditing">
                                    <input type="text" class="form-control" placeholder="Nouveau mot de passe..."
                                        [type]="isEditing ? 'text' : 'password'" [class.light]="!isEditing"
                                        [readonly]="!isEditing" name="newPassword" [(ngModel)]="newPassword">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>