.sidebar-header {
  overflow: hidden;
  height: 88px;
}
.sidebar-header img {
  width: 42px;
  height: 42px;
  position: relative;
  left: -7px;
  top: -3px;
}
.sidebar-header .sidebar-title {
  display: none;
  white-space: nowrap;
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.3s ease;
  width: 100%;
  overflow: hidden;
  width: 35px;
  position: relative;
  left: -4px;
}

.logout-btn button {
  position: relative;
  left: -13px;
  transition: all 0.3s ease;
}

.ul-sidebar {
  position: relative;
  left: -4px;
}

.sidebar-container:hover {
  .logout-btn {
    width: 100%;
    position: static;
  }

  .logout-btn button {
    position: static;
  }

  .sidebar-header img {
    width: 48px;
    height: 48px;
  }

  .sidebar-header .sidebar-title {
    display: block;
  }
}
