.action-icon {
  top: 15px;
  left: -35px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  transition: 0.3s ease;
  border-radius: 3px;
}
.action-icon .edit-icon,
.action-icon .delete-icon {
  cursor: pointer;
  transition: 0.1s ease;
}
.action-icon .edit-icon:hover,
.action-icon .delete-icon:hover {
  transform: scale(1.1);
}
.card-app{
  position: relative;
  overflow: hidden;
  
}

.card-app:hover .action-icon {
  left: 15px;
  opacity: 1;
  z-index: 9999;
}

.card1 {
  border-radius: 0.75rem;
  border: 1px solid var(--border-color, #e5e7eb);
  background-color: var(--card-bg, #ffffff);
  color: var(--card-foreground, #000000);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 24rem;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.card1-header {
  display: flex;
  flex-direction: column;
  gap: 0.375rem; /* 1.5 x 0.25rem */
  padding: 0; /* 6 x 0.25rem */
}

.card1-header .image {
  width: 100%;
  height: 7rem; /* 48 x 0.25rem */
  object-fit: contain;
}

.card1-content {
  padding-top: 0;
  padding: 20px;
}

.card1-title {
  font-weight: 600; /* Semibold */
  line-height: 1; /* Leading-none */
  letter-spacing: -0.01562em; /* Tracking-tight */
  font-size: 1.25rem; /* Text-xl */
  margin-bottom: 0.5rem; /* Mb-2 */
}

.card1-description {
  font-size: 0.875rem; /* Text-sm */
  color: hsl(215.4 16.3% 46.9%); /* Text-muted-foreground */
  margin-bottom: 1rem; /* Mb-4 */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem; /* Gap-2 */
  margin-bottom: 1rem; /* Mb-4 */
}

.card1-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 1rem;
  font-size: 0.875rem; /* Text-sm */
}

.icon-value {
  display: flex;
  align-items: end; /* Items-center */
  gap: 0.25rem; /* Gap-1 */
}

.p-0 {
  padding: 0;
}

.badge {
  border: 1.5px solid transparent;
}

.bg-outline-dark {
  border: 1.5px solid #000;
  color: black;
  background-color: white;
}

.card1 .stars {
  display: flex;
  align-items: center;
  gap: 4px;
}
