<div class="card-hover" id="card">
  <div class="content">
    <a class="" href="#">
      <div class="d-grid gap-3">
        <div class="d-flex justify-content-center">
          <div class="logo">
            <img src="/image/orange.png" alt="" />
          </div>
        </div>
      </div>

      <div class="bottom-section">
        <div class="name text-center">
          <span class="fw-bold">{{ app.name }}</span>
        </div>
        <div class="row row1">
          <div class="item">
            <span class="big-text">2626</span>
            <span class="regular-text">UI elements</span>
          </div>
          <div class="item">
            <span class="big-text">100%</span>
            <span class="regular-text">Free for use</span>
          </div>
          <div class="item">
            <span class="big-text">38,631</span>
            <span class="regular-text">Contributers</span>
          </div>
        </div>
      </div>

      <div class="go-corner" href="#">
        <div class="go-arrow">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-arrow-right"
          >
            <path d="M5 12h14" />
            <path d="m12 5 7 7-7 7" />
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
