.table {
  overflow: hidden;
  border-radius: 4px;
  overflow: hidden;
}

.table tbody tr {
  transition: 0.3s ease;
}
.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.table .title-col th {
  color: #fff !important;
}

.delete-icon,
.edit-icon {
  cursor: pointer;
}

.modal {
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999999;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

.input-dropdown .btn:hover {
  color: black !important;
}
