<div class="p-4 rounded-2 bg-white">
  <h3 class="display-4 h3 mb-4 text-primary">Gestionnaire de Questions</h3>

  <div class="d-flex gap-4">
    <!-- Left Column - Question Groups -->
    <div class="w-100 p-3 rounded-1" style="background-color: #f8f9fa">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="h4">Groupe de Questions</h4>
        <button class="btn btn-primary" (click)="handleAddNewGroup()" *ngIf="canAdd$ | async">
          Ajouter Groupe
        </button>
      </div>

      <div class="groups-list">
        <div class="accordion" id="accordionQuestionnaire">
          <div class="accordion-item" style="border: none !important;"
            *ngFor="let group of groupedByType; let i = index">
            <div class="accordion-header">
              <button class="accordion-button fs-5 py-3 group-header-btn"
                style="margin-bottom: 10px; border-radius: 10px; padding-right: 12px; border: none !important; border-top: none !important; padding-left: 12px; color: white; background: transparent;"
                type="button" [attr.data-bs-target]="'#collapse' + i" [class.collapsed]="openedGroupIndex !== i"
                (click)="toggleAccordion(i)" [attr.aria-expanded]="openedGroupIndex === i"
                [style.background]="group.name === 'Valeur métier' ? '#6e4aa7' : '#000000'">
                {{ group.name }}
              </button>

            </div>
            <div [id]="'collapse' + i" class="accordion-collapse collapse" [class.show]="openedGroupIndex === i">
              <div class="accordion-body">
                <div *ngFor="let questionGroup of group.data" [class.selected-group]="
                    selectedGroup?.id === questionGroup.id
                  " class="group-card p-3 mb-3 rounded cursor-pointer"
                  [style.borderLeft]="'4px solid ' + questionGroup.borderColor"
                  (click)="handleSelectGroup(questionGroup)">
                  <div class="d-flex justify-content-between">
                    <div>
                      <h3 class="h6 mb-2">{{ questionGroup.text }}</h3>
                      <div class="d-flex align-items-center gap-2">
                        <small class="text-muteds small">Coeff: {{ questionGroup.coeff }}</small>
                      </div>
                    </div>
                    <div>
                      <button class="btn btn-link btn-sm" (click)="
                          $event.stopPropagation();
                          handleEditGroup(questionGroup)
                        " *ngIf="canEdit$ | async">
                        <app-icon-edit />
                      </button>
                      <button class="btn btn-link btn-sm text-danger" (click)="
                          $event.stopPropagation();
                          handleDeleteGroup(questionGroup.id)
                        " *ngIf="canDelete$ | async">
                        <app-icon-delete />
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="questionGroups.length === 0" class="empty-state">
          <p>
            Aucun groupe de questions pour le moment. Créez votre premier
            groupe!
          </p>
        </div>
      </div>
    </div>

    <!-- Right Column - Questions -->
    <div class="w-100 p-3 rounded-1" style="background: #f8f9fa">
      <ng-container *ngIf="selectedGroup && !editingGroup">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="h4">Questions pour <span class="fs-6" style="font-weight: 100;">"{{ selectedGroup.text }}"</span>
          </h2>
          <button class="btn btn-primary" (click)="handleAddNewQuestion()" *ngIf="canAdd$ | async">
            <app-icon-plus /> Ajouter Question
          </button>
        </div>

        <div class="questions-list">
          <div *ngFor="let question of selectedGroup.questions" class="question-card">
            <ng-container *ngIf="editingQuestion?.id === question.id; else displayQuestion">
              <div class="mb-3">
                <input type="text" class="form-control" [ngModel]="editingQuestion?.text"
                  (ngModelChange)="updateEditingQuestionText($event)" placeholder="Question text" />
              </div>
              <div class="d-flex justify-content-end gap-2">
                <button class="btn btn-outline-secondary btn-sm" (click)="handleCancelEditQuestion()">
                  Annuler
                </button>
                <button class="btn btn-primary btn-sm" (click)="handleSaveQuestion()">
                  Enregistrer
                </button>
              </div>
            </ng-container>

            <ng-template #displayQuestion>
              <div class="d-flex justify-content-between align-items-start">
                <p class="mb-0">{{ question.text }}</p>
                <div>
                  <button class="btn btn-link btn-sm" (click)="handleEditQuestion(question)" *ngIf="canEdit$ | async">
                    <app-icon-edit />
                  </button>
                  <button class="btn btn-link btn-sm text-danger" (click)="handleDeleteQuestion(question.id)"
                    *ngIf="canDelete$ | async">
                    <app-icon-delete />
                  </button>
                </div>
              </div>
            </ng-template>
          </div>

          <div *ngIf="editingQuestion?.id === 0" class="question-card">
            <div class="mb-3">
              <input type="text" class="form-control" [ngModel]="editingQuestion?.text"
                (ngModelChange)="updateEditingQuestionText($event)" placeholder="nouvelle question" />
            </div>
            <div class="d-flex justify-content-end gap-2">
              <button class="btn btn-outline-secondary btn-sm" (click)="handleCancelEditQuestion()">
                Annuler
              </button>
              <button class="btn btn-primary btn-sm" (click)="handleSaveQuestion()">
                Enregistrer
              </button>
            </div>
          </div>

          <div *ngIf="selectedGroup.questions.length === 0 && !editingQuestion" class="empty-state">
            <p>
              Aucune question dans ce groupe pour le moment. Ajoutez votre
              première question !
            </p>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="editingGroup">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title h5 mb-0">
              {{ editingGroup.id === 0 ? "Ajouter groupe" : "Modifier groupe" }}
            </h3>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label">Nom de groupe </label>
              <input type="text" class="form-control" [(ngModel)]="editingGroup.text" placeholder="Nom de groupe" />
            </div>

            <div class="mb-3">
              <label class="form-label">Type</label>
              <select class="form-select" [(ngModel)]="editingGroup.type">
                <option [value]="QuestionGroupeType.businessValue">
                  Valeur métier
                </option>
                <option [value]="QuestionGroupeType.technicalDebt">
                  Dette technique
                </option>
              </select>
            </div>

            <div class="mb-3">
              <div class="d-flex align-items-center gap-4">
                <label class="form-label mb-0">Importance <span class="text-muted">(0 à 4)</span></label>
                <div class="tooltip-container">
                  <!-- <app-icon-help /> -->
                  <app-icon-help class="bi bi-info-circle info-icon" data-bs-toggle="tooltip" data-bs-placement="right"
                    data-bs-html="true"
                    title="0 : irrelevant<br>1 : pas important<br>2 : normal<br>3 : important<br>4 : très important">
                  </app-icon-help>
                </div>
              </div>
              <input type="number" class="form-control" [(ngModel)]="editingGroup.coeff" step="0.1" min="0" />
            </div>

            <div class="d-flex justify-content-end gap-2">
              <button class="btn btn-outline-secondary" (click)="handleCancelEditGroup()">
                Annuler
              </button>
              <button class="btn btn-primary" (click)="handleSaveGroup()">
                Enregistrer
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <div *ngIf="!selectedGroup && !editingGroup" class="empty-state">
        <p class="text-muted">
          Sélectionnez un groupe de questions pour afficher et gérer ses
          questions
        </p>
      </div>
    </div>
  </div>
</div>