<app-modal [isOpen]="modalStateService.isModalOpen">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalEditAppLabel">
          Modifier l'application
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
          (click)="modalStateService.resetData()"
        ></button>
      </div>
      <div class="modal-body mt-2">
        <div class="accordion" id="accordionExample">
          <app-accordion-general />
          <app-accordion-valeur-cout />
          <app-accordion-date-status />
          <app-accordion-other />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="modalStateService.submit()"
        >
          Mettre à jour
        </button>
      </div>
    </div>
  </div>
</app-modal>
