<!-- Modal - Étape 1 -->
<div
  class="modal fade modal-lg"
  id="applicationEditModal"
  tabindex="-1"
  data-bs-backdrop="false"
  aria-labelledby="applicationEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applicationEditModalLabel">
          Informations Générales - Étape 2
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fermer"
          (click)="modalStateService.resetData()"
        ></button>
      </div>

      <div class="modal-body">
        <!-- Formulaire Étape 1 -->
        <app-form-general />
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="modalStateService.resetData()"
        >
          Annuler
        </button>
        <button
          class="btn btn-primary"
          data-bs-target="#applicationEditModalStep2"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</div>
