<div
  class="modal fade modal-lg"
  id="exampleModalToggle"
  aria-hidden="true"
  data-bs-backdrop="false"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="exampleModalToggleLabel">
          Informations Générales
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Close"
          (click)="modalStateService.resetData()"
        >
          <span class="visually-hidden">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="appInfoForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nom de l'application</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="modalStateService.createApplication.name"
              required
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label"
              >Description de l'application</label
            >
            <textarea
              class="form-control"
              id="description"
              [(ngModel)]="modalStateService.createApplication.description"
              rows="3"
              required
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">Logo de l'application</label>
            <input type="file" class="form-control" id="name" />
          </div>

          <div class="mb-3">
            <label for="category" class="form-label">Catégorie</label>
            <select
              class="form-select"
              id="category"
              [(ngModel)]="modalStateService.createApplication.categoryId"
              required
            >
              <option value="" selected>Sélectionner une catégorie</option>
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="userTeam" class="form-label">Équipe responsable</label>
            <select
              class="form-select"
              id="category"
              [(ngModel)]="modalStateService.createApplication.departementId"
              required
            >
              <option value="">Sélectionner une équipe</option>
              <option
                *ngFor="let departement of departements"
                [value]="departement.id"
              >
                {{ departement.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-target="#exampleModalToggle2"
          data-bs-toggle="modal"
        >
          Suivant
        </button>
      </div>
    </div>
  </div>
</div>
