@font-face {
  font-family: "Geist";
  src: url("./font/Geist-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./font/Geist-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./font/Geist-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Geist", sans-serif !important;
}

.btn {
  font-weight: 500;
}
