.icon-button {
  padding: 0;
  border: none;
}
.icon-button:hover {
  transform: scale(1.1);
}

.question-card {
  background: linear-gradient(to right, #bdc3c721, #2c3e5021);
  /* background: #eeeeee7d; */
  border-radius: 10px;
}
