<div class="bg-white p-3" [ngStyle]="{ 'border-left':'4px solid ' + questionGroupe.borderColor}"
  style="border-radius: 4px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
  <div class="question-groupe d-flex align-items-center justify-content-between ">
    <div class="d-grid gap-1">
      <div class="question-content">
        <p class="question-text fw-bold fs-5">{{ questionGroupe.text }}</p>
      </div>
      <div class="">
        <span class="text-muted">Coefficient : {{questionGroupe.coeff}}</span>
      </div>
    </div>

    <div class="d-grid gap-1">
      <div class="question-footer d-flex justify-content-end gap-1 p-2">
        <button class="icon-button d-flex align-items-center justify-content-center" data-action="edit"
          data-bs-toggle="modal" data-bs-target="#quesitionModalForm">
          <app-icon-edit style="color:#4170D8;" (click)="editQuestion(questionGroupe)"></app-icon-edit>
        </button>
        <button class="icon-button destructive" data-action="delete">
          <app-icon-delete style="color: #CD3C14;" (click)="saveIdQestionGroupeDelete(questionGroupe.id)"
            arialabel="Supprimer" data-bs-toggle="modal" data-bs-target="#modalConfirm"
            data-bs-dismiss="modal"></app-icon-delete>
        </button>
      </div>
      <div class="">
        <app-button text="ajouter question" className="btn-secondary" (click)="toggleAddQuestion()"></app-button>
      </div>
    </div>
  </div>
  <div class="question-list pt-2">
    <ul>
      <li *ngFor="let subQuestion of questionGroupe.questions; let i = index" class="question-item">
        <div class="d-flex justify-content-between align-items-center">
          <div class="question-content">
            <span class="question-text">{{subQuestion.text}}</span>
          </div>
          <div class="d-flex gap-1">
            <button class="icon-button" (click)="editSubQuestion(subQuestion)">
              <app-icon-edit style="color:#4170D8;"></app-icon-edit>
            </button>
            <button class="icon-button destructive" (click)="deleteSubQuestion(subQuestion.id)">
              <app-icon-delete style="color: #CD3C14;"></app-icon-delete>
            </button>
          </div>
        </div>
      </li>
    </ul>

    <div *ngIf="showAddQuestion" class="new-question-input mt-2 p-2"
      style=" background-color: #f8f9fa;  border: 1px solid #dee2e6;">
      <input type="text" [(ngModel)]="newQuestionText" placeholder="Entrez votre nouvelle question ici..."
        class="form-control" (keyup.enter)="addSubQuestion()" />
      <div class="new-question-actions d-flex gap-2 justify-content-end mt-2">
        <button class="btn btn-outline-secondary" (click)="cancelAddQuestion()">Annuler</button>
        <button class="btn btn-primary" (click)="addSubQuestion()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<app-modal-confirm [onConfirm]="onConfirmDelete"></app-modal-confirm>