.icon-button {
  padding: 0;
  border: none;
  background: transparent;
}
.icon-button:hover {
  transform: scale(1.1);
}

.question-card {
  background: #eeeeee;
}

.question-item {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f8f9fa;
}

/*--------------------------------------*/
.cursor-pointer {
  cursor: pointer;
}

.group-card {
  transition: background-color 0.2s;
}

.group-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.selected-group {
  background-color: rgba(0, 0, 0, 0.1);
}

.question-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.empty-state {
  text-align: center;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border: 1px solid #dee2e6;
}
