<div class="question-card" [ngStyle]="{ 'border-left':'4px solid ' + question.borderColor}">
  <div class="question-content">
    <p class="question-text p-3">{{ question.text }}</p>
  </div>
  <div class="question-footer d-flex justify-content-end gap-2 p-2">
    <button class="icon-button d-flex align-items-center justify-content-center" data-action="edit"
      (click)="editQuestion(question)" data-bs-toggle="modal" data-bs-target="#quesitionModalForm">
      <app-icon-edit style="color:#4170D8 ;"></app-icon-edit>
    </button>
    <button class="icon-button destructive" data-action="delete" (click)="deleteQuestion(question.id)">
      <app-icon-delete style="color: #CD3C14;"></app-icon-delete>
    </button>
  </div>
</div>