<div
  class="modal fade modal-lg"
  id="quesitionModalForm"
  tabindex="-1"
  aria-labelledby="quesitionModalFormLabel"
  aria-hidden="true"
  data-bs-backdrop="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title h5" id="quesitionModalFormLabel">
          Ajouter une question
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title="Close"
        >
          <span class="visually-hidden">Close</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="valueQuestion"
            placeholder="Entrez votre question"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="add()"
          *ngIf="!isEditingId"
        >
          Enregistrer
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="update()"
          *ngIf="isEditingId"
        >
          Mettre à jour
        </button>
      </div>
    </div>
  </div>
</div>
