<p>cat si</p>
<div class="grid-card1">
    <div class="card1">
      <div class="card1-header">
        <img
          src="/image/om.png"
          alt="Description"
          class="image"
        />
      </div>
      <div class="card1-content">
        <div class="card1-title">title</div>
        <p class="card1-description">Description</p>
        <div class="badge-container">
          <span class="badge text-white rounded-pill bg-primary">SI</span>
          <span class="badge text-white rounded-pill bg-secondary">invest</span>
          <span class="badge text-white rounded-pill bg-light">production</span>
        </div>
        <div class="card1-footer">
          <div class="icon-value">
            <svg
              class="icon-user"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-users"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
              <circle cx="9" cy="7" r="4" />
              <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
              <path d="M16 3.13a4 4 0 0 1 0 7.75" />
            </svg>
            <span>100</span>
          </div>
          <div class="icon-value">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffcc00"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-zap"
            >
              <path
                d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
              />
            </svg>
            <span>100</span>
          </div>
          <div class="icon-value">
            <svg
              class="icon"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-clock"
            >
              <circle cx="12" cy="12" r="10" />
              <polyline points="12 6 12 12 16 14" />
            </svg>
            <span>100</span>
          </div>
        </div>
      </div>
    </div>
</div>
