<div class="container mt-4">
  <h3 class="mb-4">Gestion des Classifications</h3>

  <!-- Add New Classification -->
  <div class="card mb-4" style="border: none" *ngIf="canAddClasse$ | async">
    <div class="card-body">
      <h3 class="card-title mb-3">Nouvelle classe</h3>
      <div class="mb-3">
        <label for="name" class="form-label">Nom de la classe</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newClasse.name" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" [(ngModel)]="newClasse.description"></textarea>
      </div>
      <button class="btn btn-primary" (click)="addClass()" *ngIf="!editingClasse">
        Ajouter
      </button>
      <div class="d-flex gap-2" *ngIf="editingClasse">
        <button class="btn btn-primary" (click)="saveEdit()">Modifier</button>
        <button class="btn btn-secondary" (click)="cancelEdit()">
          Annuler
        </button>
      </div>
    </div>
  </div>

  <div class="class-list bg-white p-3">
    <h3 class="card-title mb-3">Liste des classes</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col" *ngIf="canEditOrDelete$ | async">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let classe of classes">
          <td>{{ classe.name }}</td>
          <td>{{ classe.description }}</td>
          <td>
            <div class="action-buttons">
              <button class="btn text-info btn-sm" aria-label="Supprimer" (click)="startEditing(classe)"
                *ngIf="canEditClasse$ | async">
                <app-icon-edit></app-icon-edit>
              </button>
              <button class="btn text-danger btn-sm delete" aria-label="Supprimer" (click)="deleteClasse(classe.id)"
                *ngIf="canDeleteClasse$ | async">
                <app-icon-delete></app-icon-delete>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center p-4" *ngIf="classes.length === 0">
      <p>Aucune classification trouvée.</p>
  </div>
</div>