<div style="position: relative">
  <canvas
    baseChart
    [datasets]="bubbleChartData"
    [options]="bubbleChartOptions"
    [type]="'bubble'"
  ></canvas>
  <div id="bubble-info" class="bubble-info">
    <p><span class="fw-bold">Application: </span><span id="app-name"></span></p>
    <p>
      <span class="fw-bold">Valeur Métier: </span> <span id="app-value"></span>
    </p>
    <p><span class="fw-bold">Coûts: </span> <span id="app-cost"></span></p>
    <p>
      <span class="fw-bold">Type: </span>
      <span id="app-type" class="fw-bold"></span>
    </p>
  </div>
</div>
