.question-container {
    background: #ffffff;
    border-radius: 0.5rem;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    // border: 1px solid #e5e7eb;
    margin: 0 auto;
    padding: 1.5rem;
}

.question-header {
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.question-title {
    margin: 0;
    color: #1f2937;
}
