DB_USERNAME=root
DB_PASSWORD=
DB_URL=jdbc:mariadb://localhost:3306
DB_NAME=APM_orange
DB_NAME_TEST=apm_orange_test

KEYCLOAK_URL=http://localhost:8000
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_NAME=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=