<div class="header-container  p-2 mx-3">

    <div class="d-flex align-items-center justify-content-end gap-3">
        <form class="d-flex" role="search">
            <div class="input-group">
                <span class="position-relative w-100">
                    <input class="input-search form-control ps-5 text-white" type="search" placeholder="Search"
                        aria-label="Search" style="background-color: transparent !important;">
                    <svg class="position-absolute top-50 start-0 translate-middle-y ms-2" width="24" height="24">
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#fff" fill-rule="evenodd"
                            d="M892.285,819.383L666.631,593.728a310.794,310.794,0,0,0,58.05-181.388c0-172.5-139.839-312.34-312.341-312.34S100,239.838,100,412.34,239.838,724.681,412.34,724.681a310.918,310.918,0,0,0,181.4-58.05L819.383,892.275a25.053,25.053,0,0,0,35.342,0l37.56-37.55A25.071,25.071,0,0,0,892.285,819.383ZM412.34,624.732c-117.3,0-212.391-95.092-212.391-212.392S295.04,199.949,412.34,199.949,624.732,295.04,624.732,412.34,529.64,624.732,412.34,624.732Z"
                            transform="scale(.024)" />
                    </svg>
                </span>
            </div>
        </form>

        <div class="user-profil">
            <img src="/image/user.jpg" class="rounded-circle" width="45" height="45" alt="">
        </div>

    </div>
</div>